.routing-container {
    height: 800px;
    padding: 15px;
    padding-top: 100px;
}

.routing-options {
    list-style: none;
}

.routing-home-container {
    height: 300px;
    width: 50%;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.routing-individual-component {
    padding: 20px;
}

.route-header {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.route-color {
    font-size: 20px;
    margin-top: 10px;
}

.route-op {
    background-color: aqua;
    width: 50%;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {

    .routing-container {
        height: 700px;
        padding: 15px;
        padding-top: 100px;
    }

    .routing-home-container {
        width: 90%;
    }

    .routing-options {
        list-style: none;
    }

    .route-op {
        width: 90%;
    }
}