.recharts-container {
    padding: 15px;
    padding-top: 100px;
}

.column-sq {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row-sq:after {
    content: "";
    display: table;
    clear: both;
  }