.random-container {
    height: 600px;
}

.ui-component {
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 300px;
    margin-bottom: 25;
}

.ui-item {
    margin: 10px;
    padding: 10px;
}