.footer-container {
    padding: 50px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 648px) {
    .footer-container {
        padding: 30px;
        background-color: rgb(240, 240, 240);
        bottom: 0;
        width: 100%;
        font-size: 10px;
    }
}