.footer-container {
    padding: 50px;
    background-color: rgb(240, 240, 240);
    position:inherit;
    bottom: 0;
    width: 100%;
}

.footer-container p {
    margin: 8px;
}

@media (max-width: 648px) {
    .footer-container {
        height: 120px;
        padding: 30px;
        background-color: rgb(240, 240, 240);
        bottom: 0;
        width: 100%;
        font-size: 10px;
    }

    .footer-container p {
        font-size: 14px;
        margin: 5px;
    }
}